
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.sub-container{
    background-color: #DADBF0;
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search-div{
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: relative;
    padding: 5px;
}

.inputsearch{
    border: none;
    outline: none;
    position: relative;
    width: calc(100% - 40px); 
    padding-right: 40px;
    padding: 5px;
}

.arrowicon{
    position: absolute;
    top: 50%; 
    right: 10px;
    transform: translateY(-50%); 
    cursor: pointer;
    color: #333; 
}

.card-container{
    margin-top: 70px;
    width: 75%;

}

.card {
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    transition: all 0.3s ease;
    padding: 10px;
    max-width: 400px;
    background-color: #F4F6F8;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1.5px solid #e3e3e3; 
}

.card-text {
    font-size: 16px;
    color: #6c757d;
    font-weight: 500;
}

.headinghelp{
    font-size: 56px;
}

@media screen and (max-width:500px){
    .headinghelp{
        font-size: 40px;
    }

    .card-container{
        width: 100%;
    }

    .search-div{
        width: 300px;
    }
    
}